* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

.body{
    background-color: #407d55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #000000;
    max-width: 400px;
    width: 100%;
    height: 879px;
    align-items: center;
    justify-content: end;
}

.calculator-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    /* grid-template-areas: '. . . .'; */
    /* gap: 10px; */
    align-items: center;
    width: 100%;
    max-height: 590px;
    height: 100%;
    object-fit: cover;
}

.calculator-container button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: none;
}