* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    color: #ffffff;
}

.body{
    background-color: #407d55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #000000;
    max-width: 450px;
    width: 100%;
    height: 879px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.result-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 30px 10px;
    gap: 10px;
    color: white;
    overflow: hidden;
}

#computation{
    font-size: 37px;
}

#result{
    font-size: 90px;
}

.calculator-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    /* grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto; */
    /* grid-template-areas: '. . . .'; */
    align-items: center;
    justify-content: center;
    max-width: 450px;
    max-height: 500px;
    height: 100%;
    padding: 20px;
}

.btn{
    background-color: #2b2b2b;
}

.fst-row{
    background-color: #818181;
}

.lst-colm{
    background-color: #ff6600;
}

.each-btn-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-container button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    object-fit: cover;
    border: none;
}

.calculator-container p{
    font-size: 40px;
}

.calc-svg{
    stroke: #ffffff;
}